In [31]:
# Import Team Data
import pandas as pd
team_data_df = pd.read_csv('../unprocessed-data/team-data/nba_team_win_totals.csv')
# Check if load correctly
team_data_df

,Rk,Season,Lg,ATL,BOS,BRK,CHI,CHO,CLE,DAL,...,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,1.0,2024-25,NBA,14.0,21,10.0,12.0,7.0,23.0,17.0,...,20.0,17.0,8.0,14.0,8.0,13.0,13.0,7.0,5.0,3.0
1,2.0,2023-24,NBA,36.0,64,32.0,39.0,21.0,48.0,50.0,...,57.0,47.0,47.0,49.0,21.0,46.0,22.0,25.0,31.0,15.0
2,3.0,2022-23,NBA,41.0,57,45.0,40.0,27.0,51.0,38.0,...,40.0,34.0,54.0,45.0,33.0,48.0,22.0,41.0,37.0,35.0
3,4.0,2021-22,NBA,43.0,51,44.0,46.0,43.0,44.0,52.0,...,24.0,22.0,51.0,64.0,27.0,30.0,34.0,48.0,49.0,35.0
4,5.0,2020-21,NBA,41.0,36,48.0,31.0,33.0,22.0,42.0,...,22.0,21.0,49.0,51.0,42.0,31.0,33.0,27.0,52.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76.0,1949-50,NBA,29.0,22,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,51.0,NaN,NaN,51.0,NaN,NaN,NaN,NaN
76,77.0,1948-49,BAA,NaN,25,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN
77,78.0,1947-48,BAA,NaN,20,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,79.0,1946-47,BAA,NaN,22,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,Total,NaN,2941.0,3655,1664.0,2395.0,1181.0,2055.0,1814.0,...,2490.0,1332.0,3109.0,2443.0,2300.0,2761.0,2318.0,1103.0,2182.0,2275.0

In [32]:
# Modify 'Season' values from '2023-2024' to '2023
team_data_df['Season'] = team_data_df['Season'].str.split('-').str[0]
# Drop Lg (League) and Rk (Rank) columns
team_data_df = team_data_df.drop(columns=['Lg', 'Rk'])
# Drop all rows with column 'Season' < 1980 (player data only up until then) and 'Season' = Total (needs recalculation)
team_data_df = team_data_df[team_data_df['Season'] != 'Total']
team_data_df = team_data_df[team_data_df['Season'].astype(int) >= 1980]
# Check 
team_data_df.head()

,Season,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,...,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,2024,14.0,21,10.0,12.0,7.0,23.0,17.0,14.0,11.0,...,20.0,17.0,8.0,14.0,8.0,13.0,13.0,7.0,5.0,3.0
1,2023,36.0,64,32.0,39.0,21.0,48.0,50.0,57.0,14.0,...,57.0,47.0,47.0,49.0,21.0,46.0,22.0,25.0,31.0,15.0
2,2022,41.0,57,45.0,40.0,27.0,51.0,38.0,53.0,17.0,...,40.0,34.0,54.0,45.0,33.0,48.0,22.0,41.0,37.0,35.0
3,2021,43.0,51,44.0,46.0,43.0,44.0,52.0,48.0,23.0,...,24.0,22.0,51.0,64.0,27.0,30.0,34.0,48.0,49.0,35.0
4,2020,41.0,36,48.0,31.0,33.0,22.0,42.0,47.0,20.0,...,22.0,21.0,49.0,51.0,42.0,31.0,33.0,27.0,52.0,34.0

In [33]:
# Write the prepared team data to a CSV file
file_path = '../processed-data/prepared_team_win_data.csv'
team_data_df.to_csv(file_path, index=False)
print("Data written to: ", file_path)

Data written to:  ../processed-data/prepared_team_win_data.csv